In [1]:
import requests
import pandas as pd

api_url = "https://api.open-meteo.com/v1/forecast?latitude=-7.761175&longitude=110.380499&current=temperature_2m,relative_humidity_2m,precipitation,rain,showers,wind_speed_10m"  # Replace with the API URL you want to fetch data from
response = requests.get(api_url)

if response.status_code == 200:
    data = response.json()  # Assuming the API returns JSON data
    df_weather = pd.DataFrame(data)
else:
    print("Failed to fetch data from the API.")



df_weather

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,current_units,current
time,-7.75,110.375,0.059962,0,GMT,GMT,150.0,iso8601,2023-11-08T03:45
interval,-7.75,110.375,0.059962,0,GMT,GMT,150.0,seconds,900
temperature_2m,-7.75,110.375,0.059962,0,GMT,GMT,150.0,°C,34.6
relative_humidity_2m,-7.75,110.375,0.059962,0,GMT,GMT,150.0,%,45
precipitation,-7.75,110.375,0.059962,0,GMT,GMT,150.0,mm,0.0
rain,-7.75,110.375,0.059962,0,GMT,GMT,150.0,mm,0.0
showers,-7.75,110.375,0.059962,0,GMT,GMT,150.0,mm,0.0
wind_speed_10m,-7.75,110.375,0.059962,0,GMT,GMT,150.0,km/h,4.6

In [2]:
df_weather = df_weather[["current"]]

In [3]:
# Transform

df_weather = df_weather.transpose().reset_index()
#df_weather

In [4]:
df_weather = df_weather.loc[:,["time","precipitation","temperature_2m","wind_speed_10m","rain","showers","relative_humidity_2m"]]
df_weather

,time,precipitation,temperature_2m,wind_speed_10m,rain,showers,relative_humidity_2m
0,2023-11-08T03:45,0.0,34.6,4.6,0.0,0.0,45

In [8]:
# Datatype casting

df_weather['time'] = pd.to_datetime(df_weather['time'])
df_weather["precipitation"] = df_weather["precipitation"].astype(float)
df_weather["temperature_2m"] = df_weather["temperature_2m"].astype(float)
df_weather["wind_speed_10m"] = df_weather["wind_speed_10m"].astype(float)
df_weather["rain"] = df_weather["rain"].astype(float)
df_weather["showers"] = df_weather["showers"].astype(float)
df_weather["relative_humidity_2m"] = df_weather["relative_humidity_2m"].astype(float)
df_weather["rain"] = df_weather["rain"].astype(float)

df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  1 non-null      datetime64[ns]
 1   precipitation         1 non-null      float64
 2   temperature_2m        1 non-null      float64
 3   wind_speed_10m        1 non-null      float64
 4   rain                  1 non-null      float64
 5   showers               1 non-null      float64
 6   relative_humidity_2m  1 non-null      float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 184.0 bytes

In [12]:
# Add 7 hours to the datetime column (Biar jadi GMT + 7)

hours_to_add = pd.to_timedelta('7 hours')
df_weather['time'] = df_weather['time'] + hours_to_add
#df_weather['time'] = df_weather['time'].strftime('%Y-%m-%d %H:%M')


df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  1 non-null      datetime64[ns]
 1   precipitation         1 non-null      float64
 2   temperature_2m        1 non-null      float64
 3   wind_speed_10m        1 non-null      float64
 4   rain                  1 non-null      float64
 5   showers               1 non-null      float64
 6   relative_humidity_2m  1 non-null      float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 184.0 bytes

In [5]:
df_weather_2 =

SyntaxError: invalid syntax (4055000889.py, line 1)